/* Global Overrides ======================== */

* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* Global ================================== */

body {
  font-size: 20px;
  line-height: 1.5;
  color: #222;

  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

/* Headings ================================ */

h1 {
  color: #F98E81;
  font-size: 30px;
  line-height: 1;
 /* float: left;*/
  float: left;
  text-align: center;
  /*margin-top: 20px;*/
  margin-top: 20px;
  font-family: "Ubuntu Condensed", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 25px;
  margin: 0;
  font-family: "Quicksand", sans-serif;

}

h4 {
  font-size: 20px;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

h5 {
  font-size: 19px;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}



/* Text Styles ============================= */

a,
a:visited {
  text-decoration: none;
  color: white;
  font-family: "Quicksand", sans-serif;
}

p {
  margin: 0 0 30px;
  font-family: "Quicksand", sans-serif;
}




/* Header/Footer ============================ */
header,
footer {
  color: white;
  background-color: #3b3a3a;
}

header {
  padding: 0 42px;
  position: fixed;
  width: 100%;
  color: #F98E81;
  border-bottom: 7px solid #f98e81;
}

footer {
  clear: both;
  padding: 25px 38px;
  text-align: center;
}

footer p {
  margin: 0;
}

.hamburger {
  display: none;
  width: 35px;
  height: 35px;
  background-image: url(../images/hamburger.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
}

.social-icon{
  width: 35px;
  height:35px;
}




/* Navigation ====================== */
nav {
  text-align: right;
}

nav li {
  float: left;
  padding: 24px;
  text-align: center;
}

nav a {
/*  display: block;
  padding: 20px 15px;*/
  padding: 10px;
  font-size: 22px;
  line-height: 22px;
}

nav a:hover {
  color: #F98E81;
}

.js-navigation {
  float: right;
  display: inline;
}

 /*Buttons
   ================================================================ */
.button,
.button:visited {
  display: block;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  border-radius: 5px;
  background: #B5D5B5;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.1);
  color: #3b3a3a;
}

.button:hover {
  color: white;
  background: #A3CFB2;
}

/* Super info button in blurb*/ 
.blurb .button {
  transition: all .2s ease;
  color: white;
  background: #B5D5B5;
}

.blurb .button:hover {
  color: white;
  background: #CAE1CA;
}


 /*Tagline
   ================================================================ */
.tagline {
  font-size: 25px;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  padding: 5px;
  text-align: center;
  background-color: #B5D5B5;
}


 /*Banner*/
/*   ================================================================ */
.blurb {
 height: 500px;
  width: 500px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
  color: #3b3a3a;
}

.banner {
  overflow: hidden;
  padding: 11%;

  padding-bottom: 12%;
  background-image: url(../images/photo1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px rgba(0,0,0,.75);
  text-align: center;
}

#view-work-btn {
  width: 200px;
  margin-left: 24%;
}


/* Info Sections (Call to action columns)
   ================================================================ */
.skills {
  display: inline-flex;
  width: 100%;
  text-align: center;
  padding: 184px;
  margin: 0 auto;
  height: 720px;
  
}

.left {
  float: left;
  width: 33.33333%;
  padding: 20px;
  margin: 20px;
  padding-top: 57px;
}

.center {
  float: left;
  width: 33.33333%;
  padding: 20px;
  margin: 20px;
  padding-top: 57px;

}

.right {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // flex-wrap: wrap;
  float: right;
  width: 33.33333%;
  padding: 20px;
  margin: 20px;
  padding-top: 57px;
}

.skills:last-of-type {
  border-right: none;
}

.skills icon-bullseye {
  height: 50px
  width: 10%;
  float: left;
}

.skill-icon {
  height: 50px;
  width: 50px;
}

#trello-icon {
  width: 150px;
}

#google-icon {
  width: 130px;
  height: 80px;
}

#sinatra-icon{
  width: 150px;
}

#less-icon {
  width: 80px;
  height: 50px;
}

#skill-header {
  // background-color: #deecde;
  color: #3b3a3a;
  height: 41px;
  width: 164px;
  text-align: center;
}


.skill-list {
  padding: 0px;
  margin: 0 auto;
}



/* Education
   ================================================================ */
.education {
  float: left;
  width: 100%;
  margin: 0px;
  margin-bottom: 0px;
  padding: 24px 38px;
  color: #3b3a3a;
  text-align: center;
  background-color: #deecde;
  padding-top: 148px; 
  height: 720px;
  overflow: hidden;
}

.education h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.container-fluid {
  float: left;
  width: 33.33333333%;
}

.paris {
  padding: auto;
}

.about-me {
  width: 85%;
  padding-left: 11%;
}

/* Experience
   ================================================================ */

.projects {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  // float: left;
  width: 100%;
  margin: 0px;
  padding: 70px 154px;
  padding-bottom: 141px;
  color: #3b3a3a;
  text-align: center;
  background-color: #deecde;
  margin: 0 0 0px 0px;
  background-image: url(../images/william-iven-5893.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#projectsText h2{
  padding-top: 2px;

}



.container-projects {
  float: left;
  justify-content: space-evenly;
  width: 24%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
  height: 464px;
}

.projects h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  color: white;
}

.container-projects h3 {
  color: #222222;
  padding-top: 3%;
  padding-bottom: 3%;
}

.container-projects h4 {
  padding-top: 5%;
  padding-bottom: 3%;
}

.game-descrip {
  font-size: 16px;
}

// .container-experience1 {
//   width: 50%;
//   float: left;
//   text-align: center;
//   background-color: rgba(255, 255, 255, .8);
//   box-shadow: 0 0 5px rgba(0,0,0,.75);
// }


/* Skills
   ================================================================ */

/*.skills {
  float: left;
  width: 100%;
  margin: 0px;
  padding-top: 24px;
  padding-bottom: 68px;
  padding-right: 48px;
  padding-left: 48px;
  color: #3b3a3a;
  text-align: center;
  background-color: white;
}
.container-skills {
  float: left;
  width: 100%;
}
.skills h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
}
.icon-skills {
  width: auto;
  float: left;
  margin: 0 0 0px 222px;
  padding-top: 54px;
}*/

/* Contact
   ================================================================ */

.contact {
  display: flex;
  flex-direction: column;
 
  float: left;
  width: 100%;
  margin: 0px;
  // padding-top: 0px;
  // padding-bottom: 37px;
  // padding-right: 48px;
  // padding-left: 48px;
  // color: #3b3a3a;
  text-align: center;
  background-color: #fde5e2;
  height: 620px;
}

.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -23px;
}

.contact h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 144px;
}

.icon-contact-img {
  height: 200px;
  width: 200px;
  text-align: center;
  padding-left: 20px;
}

#connect-button-bottom {
  width: 200px;
  margin-top: 30px;
}

#bottom-icons {
  padding-top: 1%;
}



/* Media
   ================================================================ */
@media screen and (max-width: 1020px) {
  header {
    padding: 20px;
  }

  h1 {
    float: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }

  nav {
    display: none;
    float: none;
    padding-left: 0;
    text-align: center;
  }

  nav li {
    display: none;
    float: none;
    padding: 24px;
  }

  nav a {
    padding: 0;
    font-size: 22px;
    line-height: 22px;
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 620px) {
//intro
  .blurb{
    width: 250px;
    padding: 19px;
    margin-top: 30%;
    height: none;

  }

  .blurb h2{
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .banner{
    overflow: hidden;
    height: 550px;
  }

  .button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .blurb .button {
    font-size: 16px;
  }

//education

.education {
  float: left;
    width: 100%;
    margin: 0px;
    margin-bottom: 0px;
    padding: 24px 38px;
    color: #3b3a3a;
    text-align: center;
    background-color: #deecde;
    padding-top: 28px;
    height: 720px;
    overflow: hidden;
}

.projects{
  flex-direction: row;
  padding-top: 1px;
  height: 800px;
}

#projectsText h2 {
  padding-top: 0px;
}

.container-projects {
  flex-direction: row;
  width: 20%;

}

}
